@using Kendo.Mvc.UI;
@model Avarez.Models.LogTrack
<div class="modal" id="NameTable">
    <script src="@Url.Content("~/Content/Base.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ui.datepicker-cc.all.min.js")" type="text/javascript"></script>
    <div>
    <a href="@Url.Content("~/Helps/تاریخچه%20کاربران.htm")" target="_blank" id="Help" title="راهنما" style="background-image:url('/Content/images/1381415123_help.png');background-repeat: no-repeat;height: 20px;float: left;top: 10px;left: 10px;"></a>
        <br />
        <div class="k-rtl demo-section">
            @(Html.Kendo().Grid<Avarez.Models.sp_NameTablesSelect>()
                .Name("Grid")
                .Columns(columns =>
                {
                    columns.Bound(p => p.fldId).Title("کد");
                    columns.Bound(p => p.fldName).Title("جدول");

                })
            .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
            .Pageable()
            .Scrollable()
            .DataSource(data =>
                data.Ajax()
                .PageSize(10).Read("Fill", "NameTable")
            )
        )
        </div>
        <div>
            <table>
                <tr>
                    <td>
                        از تاریخ:@Html.TextBox("txtStart")
                    </td>
                    <td>
                        تا تاریخ: @Html.TextBox("txtEnd")
                    </td>
                    <td>
                        @Avarez.Helper.winClass.Buttons("Retrieve", "خروجی اکسل", "excel")
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <script type="text/javascript">
        var d;
        $("document").ready(function () {
            $("#Retrieve").button();
            $("#exit").button();
            $("#Help").button();

            $("#exit").click(function () {
                $("#NameTable").remove();
            });

            $('#NameTable').on('keyup', 'input', function (event) {
                if (event.which == 13) {
                    var inputs = $('#NameTable').find(':input:visible');
                    inputs.eq(inputs.index(this) + 1).focus();
                }
            });

            $("#txtStart").datepicker({
                showButtonPanel: true
            });
            $("#txtEnd").datepicker({
                showButtonPanel: true
            });
            $('#Retrieve').click(function () {
                var entityGrid = $("#Grid").data("kendoGrid");
                var selectedItem = entityGrid.dataItem(entityGrid.select());
                if (selectedItem) {
                    var id = selectedItem.fldId;
//                    if ($('#txtStart').val() == '') {

//                        return;
//                    }
                    window.location.href = '/NameTable/FileExport?id=' + id + '&start=' + $('#txtStart').val() + '&end=' + $('#txtEnd').val();
                } else {
                    alert('لطفا یک سطر را انتخاب کنید.');
                }
            });
        });

        
    </script>
</div>
