<div id="Mafasa_Tarikh" dir="rtl">
    <script src="@Url.Content("~/Scripts/jquery.ui.datepicker-cc.all.min.js")" type="text/javascript"></script>
    <center>
        <br />
        <br />
        <br />
        <table>
            <tr>
                <td align="left">
                    از تاریخ:
                </td>
                <td align="right">
                    @Avarez.Helper.winClass.textbox("txtStart")
                </td>
            </tr>
            <tr>
                <td align="left">
                    تا تاریخ:
                </td>
                <td align="right">
                    @Avarez.Helper.winClass.textbox("txtEnd")
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <br />
                    @Avarez.Helper.winClass.Buttons("Preview", "نمایش", "yes")
                </td>
            </tr>
        </table>

    </center>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#Preview').button();
            $('#Preview').click(function () {
                // window.open('@Url.Content("~/Mafasa_Tarikh/RptPersentChart")' + '?SDate=' + $('#txtStart').val() + '&EDate=' + $('#txtEnd').val());
                if (isWinOpen == false) {
                    isWinOpen = true;
                    windowAppend('body', '/Home/PreviewRptPDFBox');
                    var t = '@Url.Content("~/Mafasa_Tarikh/RptMafasa")' + '?SDate=' + $('#txtStart').val() + '&EDate=' + $('#txtEnd').val();
                    $('#pdf').html("<br/><object style='width: 900px;height: 500px;border: 1px solid #ccc;' id='pdfbox' type='application/pdf' data='" + t + "'></object> ");
                }
            });

            $('#txtStart').datepicker({
                onSelect: function (dateText, inst) {
                    $('#txtEnd').datepicker('option', 'minDate', new JalaliDate(inst['selectedYear'], inst['selectedMonth'], inst['selectedDay']));
                },
                showButtonPanel: true,
                changeMonth: true,
                changeYear: true
            });

            $('#txtEnd').datepicker({
                showButtonPanel: true,
                changeMonth: true,
                changeYear: true
            });
        });
    </script>
</div>
