@using Kendo.Mvc.UI;
<div class="modal" id="CarSystem">
    @{
        Avarez.Models.cartaxEntities car = new Avarez.Models.cartaxEntities();
        var q = car.sp_CabinTypeSelect("", "", 0, Convert.ToInt32(Session["UserId"]), Session["UserPass"].ToString()).ToList();
    }
    <script src="@Url.Content("~/Content/Base.js")" type="text/javascript"></script>
    <div>
    <a href="@Url.Content("~/Helps/سیستم%20خودرو.htm")" target="_blank" id="Help" title="راهنما" style="background-image:url('/Content/images/1381415123_help.png');background-repeat: no-repeat;height: 20px;float: left;top: 10px;left: 10px;"></a>
        <br />
        <center>
            <table>
                <tr>
                    <td align="left">
                        نوع ساخت:
                    </td>
                    <td>
                        @Html.DropDownList("cboCarMake", new SelectList(q, "fldId", "fldName"))
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        نوع کاربری:
                    </td>
                    <td>
                        @Html.TextBox("cboCarAccountTypes")
                    </td>
                    <td>
                    </td>
                </tr>
                    <tr>
                        <td align="left">
                            <span style="color: Red;">*</span> نوع کابین:
                        </td>
                        <td>
                            @Html.TextBox("cboCarCabin")
                            <span id="lblcboCarCabinError" style="color: Red;"></span>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            @Html.Hidden("fldId")
                            <span style="color: Red;">*</span> سیستم خودرو:
                        </td>
                        <td>
                            @Avarez.Helper.winClass.textbox("txtName")
                            <span id="lblNameError" style="color: Red;"></span>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            توضیحات:
                        </td>
                        <td>
                            @Avarez.Helper.winClass.textArea("txtDesc", 4, 30)
                        </td>
                        <td>
                        </td>
                    </tr>
            </table>
            <p>
                @Avarez.Helper.winClass.Buttons("LoadWebService", "بارگذاری از سرور", "Yes")
                @Avarez.Helper.winClass.Buttons("AddLink", "ذخیره", "Save")
                @Avarez.Helper.winClass.Buttons("EditLink", "ویرایش", "Edit")
                @Avarez.Helper.winClass.Buttons("DelLink", "حذف", "Del")
                @Avarez.Helper.winClass.Buttons("exit", "خروج", "Exit")
            </p>
        </center>
        @(Html.Kendo().PanelBar()
        .Name("panelbar-images")
        .Items(panelbar =>
        {
            panelbar.Add().Text("جستجو")
                .ImageUrl(Url.Content("~/Content/images/search.png"))
                .Content(@<div>
                    <table>
                        <tr>
                            <td>
                                فیلد جستجو:@Html.DropDownList("cboSearchFiald", new SelectList(new[] { new { ID = "0", Name = "نام سیستم خودرو" }, new { ID = "1", Name = "نوع کابین" } }, "ID", "Name"))
                            </td>
                            <td>
                                نوع جستجو: @Html.DropDownList("cboSearchType", new SelectList(new[] { new { ID = "0", Name = "مشابه عبارت" }, new { ID = "1", Name = "مشابه عبارت از سمت راست" }, new { ID = "2", Name = "عین عبارت" } }, "ID", "Name"))
                            </td>
                        </tr>
                        <tr>
                            <td>
                                عبارت جستجو: @Avarez.Helper.winClass.textbox("txtSearch")
                            </td>
                            <td>
                                نتیجه رکوردها: @Html.TextBox("txtTop", 30, new { @style = "width:30px;" }) رکورد
                            </td>
                        </tr>
                    </table>
                    <br />
                </div>);
        })
        )
        <div class="k-rtl demo-section">
            @(Html.Kendo().Grid<Avarez.Models.sp_CarSystemSelect>()
                .Name("Grid")
                .Columns(columns =>
                {
                    columns.Bound(p => p.fldID).Title("کد").Visible(false);
                    columns.Bound(p => p.fldName).Title("سیستم خودرو");
                    columns.Bound(p => p.fldCabinTypeName).Title("نوع کابین");
                    columns.Bound(p => p.fldCarMake).Title("نوع ساخت");
                    columns.Bound(p => p.fldDesc).Title("توضیحات");
                })
            .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
            .Pageable()
            .Scrollable()
            .DataSource(data =>
                data.Ajax()
                .PageSize(10)
                .Read("Fill", "CarSystem")
            )
        )
        </div>
    </div>
    <script type="text/javascript">
        function selectAccount() {

            return {
                cboCarMake: $("#cboCarMake").val()
            };
        }
        function selectCabin() {

            return {
                cboCarAccountTypes: $("#cboCarAccountTypes").val()
            };
        }
        $("document").ready(function () {
            $("#LoadWebService").button();
            $("#AddLink").button();
            $("#EditLink").button();
            $("#DelLink").button();
            $("#exit").button();
            $('#Help').button();

            $("#cboCarCabin").change(function () {
                var url = '@Url.Action("Reload", "CarSystem")';
                Reload(url, 'Grid', 2, $("#cboCarCabin").val(), 0, 2);
            });

            $("#exit").click(function () {
                $("#CarSystem").remove();
            });

            $('#CarSystem').on('keyup', 'input', function (event) {
                if (event.which == 13) {
                    var inputs = $('#CarSystem').find(':input:visible');
                    inputs.eq(inputs.index(this) + 1).focus();
                }
            });

            $(document).keyup(function (event) {
                if (event.which == 119) {
                    SaveRecord();
                }
                else if (event.which == 113) {
                    EditRecord();
                }
                else if (event.which == 115) {
                    DeleteRecord();
                }
            });
            $('#AddLink').attr('title', 'کلید میانبر (F8)'); //119
            $('#EditLink').attr('title', 'کلید میانبر (F2)'); //113
            $('#DelLink').attr('title', 'کلید میانبر (F4)'); //115

            jQuery("#EditLink").click(function () {
                EditRecord();
            });

            $('#DelLink').click(function () {
                DeleteRecord();
            });

            $("#AddLink").click(function () {
                SaveRecord();
            });
            $("#LoadWebService").click(function () {
                LoadWebService();
            });
            $('#txtSearch').keyup(function () {
                var url = '@Url.Action("Reload", "CarSystem")';
                Reload(url, 'Grid', $("#cboSearchFiald").val(), $("#txtSearch").val(), $("#txtTop").val(), $("#cboSearchType").val());
            });

            $("#txtName").keyup(function () {
                if ($("#txtName").val() != '') {
                    $("#txtName").removeClass("input-validation-error");
                    $("#lblNameError").html("");
                }
                else {
                    $("#txtName").addClass("input-validation-error");
                    $('#lblNameError').html('لطفا سیستم خودرو را وارد کنید.');
                }
            });
            $("#cboCarCabin").keyup(function () {
                if ($("#cboCarCabin").val() != '') {
                    $("#cboCarCabin").removeClass("input-validation-error");
                    $("#lblcboCarCabinError").html("");
                }
                else {
                    $("#cboCarCabin").addClass("input-validation-error");
                    $('#lblcboCarCabinError').html('لطفا کابین خودرو را وارد کنید.');
                }
            });

           
        });
        function Clear() {
            $('#txtName').val('');
            $('#fldId').val(0);
            $('#txtDesc').val('');
        }
         function EditRecord() {
                var entityGrid = $("#Grid").data("kendoGrid");
                var selectedItem = entityGrid.dataItem(entityGrid.select());
                if (selectedItem) {
                    var id = selectedItem.fldID;
                    var URL = '@Url.Content("~/CarSystem/Details")';
                    URL = URL + "/" + id;
                    $.ajax({
                        type: "GET",
                        url: URL,
                        success: function (data) {
                            $('#txtName').val(data.fldName);
                            //$('#cboCarCabin').val(data.fldCabin);
                            $('#fldId').val(data.fldId);
                            $('#txtDesc').val(data.fldDesc);
                            var Make = $("#cboCarMake").data("kendoDropDownList");
                            var Account = $("#cboCarAccountTypes").data("kendoDropDownList");
                            var cabin = $("#cboCarCabin").data("kendoDropDownList");
                            Make.value(data.fldCarMakeID);
                            Account.enable(true);
                            cabin.enable(true);

                            Account.dataSource.data(data.CarAccountType);
                            cabin.dataSource.data(data.CabinType);

                            Account.value(data.fldCarAccountTypeID);
                            cabin.value(data.fldCabinTypeID);
                            if (data.er != "")
                                alert(data.er);
                        },
                        failure: function (data) {
                            alert(data.data);
                        }
                    });
                }
                else {
                    alert('لطفا یک سطر را انتخاب کنید.');
                }
            }
            function SaveRecord() {
                var er = false;
                if ($("#txtName").val() == '') {
                    $("#txtName").addClass("input-validation-error");
                    $('#lblNameError').html('لطفا سیستم خودرو را وارد کنید.');
                    er = true;
                }
                else
                    $('#lblNameError').html('');
                if ($("#cboCarCabin").val() == '') {
                    $("#cboCarCabin").addClass("input-validation-error");
                    $('#lblcboCarCabinError').html('لطفا کابین خودرو را وارد کنید.');
                    er = true;
                }
                else
                    $('#lblcboCarCabinError').html('');

                if (er)
                    return;

                var data = { fldName: $("#txtName").val(), fldCabinTypeID: $("#cboCarCabin").val(),
                    fldUserID: 1, fldDesc: $("#txtDesc").val(),
                    fldId: $("#fldId").val()
                };
                if (data != '') {
                    PostForm(data, '@Url.Content("~/CarSystem/Save")', "#win");
                }
                Clear();
            }
            function DeleteRecord() {
                var entityGrid = $("#Grid").data("kendoGrid");
                var selectedItem = entityGrid.dataItem(entityGrid.select());
                if (selectedItem) {
                    var id = selectedItem.fldID;
                    var URL = '@Url.Content("~/metro/YesNomsg")';
                    URL = URL + "/?id=" + id + "&URL=" + '@Url.Content("~/CarSystem/Delete")';
                    windowAppend("body", URL);
                    $("#message").html('آیا مایل به حذف رکورد انتخاب شده هستید؟');
                }
                else {
                    alert('لطفا یک سطر را انتخاب کنید.');
                }
                Clear();
            }
        function LoadWebService() {
            var er = false;
            
            if ($("#cboCarCabin").val() == '') {
                $("#cboCarCabin").addClass("input-validation-error");
                $('#lblcboCarCabinError').html('لطفا کابین خودرو را وارد کنید.');
                er = true;
            }
            else
                $('#lblcboCarCabinError').html('');

            if (er)
                return;
            var data = {
                CarMakeType: $("#cboCarMake").data("kendoDropDownList").text(),
                CarAccountType: $("#cboCarAccountTypes").data("kendoDropDownList").text(),
                CarCabin: $("#cboCarCabin").data("kendoDropDownList").text(),
                CarSystem: "", CarTip: "", CarClass: "",

            };
            if (data != '') {
                PostForm(data, '@Url.Content("~/CarSystem/loadFromWebService")', "#win");
            }
        }
        function Reload(Url, gridname, field, value, top, searchType) {
            var grid = $('#' + gridname).data('kendoGrid');
            $.ajax({
                url: Url,
                type: 'get',
                datatype: 'json',
                data: { field: field, value: value, top: top, searchtype: searchType },
                error: function (xhr, status, error) {
                    alert(xhr + status);
                },
                success: function (result) {
                    $("#" + gridname).data("kendoGrid").dataSource.data(result);
                }

            });
        }

        function PostForm(datas, url, id) {
            var sendInfo = datas;
            $('#Lock').show();
            $.ajax({
                type: "POST",
                url: url,
                data: sendInfo,
                datatype: "json",
                success: function (data) {
                    var m = data;
                    windowAppend("body", "/metro/error");
                    $("#message").html(m.data);
                    switch (m.state) {
                        case 0:
                            $("#error .wintitle").html("ذخیره موفق");
                            break;
                        case 1:
                            $("#error .wintitle").html("خطا");
                            break;
                    }
                    var url = '@Url.Action("Reload", "CarSystem")';
                    Reload(url, 'Grid', '0', '', 30, 1);
                    $('#Lock').hide();
                },
                failure: function (data) {
                    alert(data.data);
                }
            });
        }    
    </script>
</div>
<div class="k-rtl">
</div>
<div class="k-rtl">
    @(Html.Kendo().DropDownList()
          .Name("cboCarMake")
          .OptionLabel("نوع ساخت خودرو...")
          .DataTextField("fldName")
          .DataValueField("fldID")
          .DataSource(source =>
          {
              source.Read(read =>
              {
                  read.Action("GetCascadeMake", "CarSystem");
              });
          })
          .HtmlAttributes(new { @style = "display: none;width:105px;" })
    )
    @(Html.Kendo().DropDownList()
        .Name("cboCarAccountTypes")
          .OptionLabel("نوع کاربری خودرو...")
                  .DataTextField("fldName")
                  .DataValueField("fldID")
          .DataSource(source =>
          {
              source.Read(read =>
              {
                  read.Action("GetCascadeAccount", "CarSystem")
                      .Data("selectAccount");
              })
              .ServerFiltering(true);
          })
          .Enable(true)
          .AutoBind(false)
                  .CascadeFrom("cboCarMake")
          .HtmlAttributes(new { @style = "display: none;width:105px;" })
    )
    @(Html.Kendo().DropDownList()
                .Name("cboCarCabin")
          .OptionLabel("نوع کابین خودرو...")
                  .DataTextField("fldName")
                  .DataValueField("fldID")
          .DataSource(source =>
          {
              source.Read(read =>
              {
                  read.Action("GetCascadeCabin", "CarSystem")
                      .Data("selectCabin");
              })
              .ServerFiltering(true);
          })
          .Enable(true)
          .AutoBind(false)
                          .CascadeFrom("cboCarAccountTypes")
          .HtmlAttributes(new { @style = "display: none;width:105px;" })
    )
</div>
