
@using Kendo.Mvc.UI;
<div class="modal" id="Contact">
    <script src="@Url.Content("~/Content/Base.js")" type="text/javascript"></script>    
    <div>
                <a href="@Url.Content("~/Helps/تعریف و جستجوی مخاطب.htm")" target="_blank" id="Help" title="راهنما" style="background-image:url('/Content/images/1381415123_help.png');background-repeat: no-repeat;height: 20px;float: left;top: 10px;left: 10px;"></a>
   
        <br />
        <center>
            <table>
                <tr>
                    <td align="left">
                        @Html.Hidden("fldId")
                        <span style="color: Red;">*</span> نام:
                    </td>
                    <td>
                        @Avarez.Helper.winClass.textbox("txtName")
                         <span id="lblNameError" style="color: Red;"></span>
                    </td>
                                        <td align="left">
                        <span style="color: Red;">*</span> نام خانوادگی:
                    </td>
                    <td>
                        @Avarez.Helper.winClass.textbox("txtFamily")
                         <span id="lblFamilyError" style="color: Red;"></span>
                    </td>

                </tr>

                <tr>
                    <td align="left">
                        <span style="color: Red;">*</span> تلفن1:
                    </td>
                    <td>
                        @Avarez.Helper.winClass.textbox("txtTel1")
                         <span id="lblTel1Error" style="color: Red;"></span>
                    </td>
                                        <td align="left">
                        <span style="color: Red;"></span> تلفن2:
                    </td>
                    <td>
                        @Avarez.Helper.winClass.textbox("txtTel2")
                         <span id="lblTel2Error" style="color: Red;"></span>
                    </td>

                </tr>

                <tr>
                    <td align="left">
                        <span style="color: Red;">*</span> موبایل1:
                    </td>
                    <td>
                        @Avarez.Helper.winClass.textbox("txtMobile1")
                         <span id="lblMobile1Error" style="color: Red;"></span>
                    </td>
                                        <td align="left">
                        <span style="color: Red;"></span> موبایل2:
                    </td>
                    <td>
                        @Avarez.Helper.winClass.textbox("txtMobile2")
                         <span id="lblMobile2Error" style="color: Red;"></span>
                    </td>

                </tr>

                <tr>
                    <td align="left">
                        <span style="color: Red;"></span> ایمیل:
                    </td>
                    <td>
                        @Avarez.Helper.winClass.textbox("txtEmail")
                         <span id="lblEmailError" style="color: Red;"></span>
                    </td>
                    <td align="left">
                        <span style="color: Red;"></span> فکس:
                    </td>
                    <td>
                        @Avarez.Helper.winClass.textbox("txtFax")
                         <span id="lblFaxError" style="color: Red;"></span>
                    </td>
                </tr> 

                <tr>
                    <td align="left">
                        <span style="color: Red;"></span> وب سایت:
                    </td>
                    <td>
                        @Avarez.Helper.winClass.textbox("txtWebsite")
                         <span id="lblWebsiteError" style="color: Red;"></span>
                    </td>
                                        <td align="left">
                        <span style="color: Red;"></span> کدپستی:
                    </td>
                    <td>
                        @Avarez.Helper.winClass.textbox("txtPostalCode")
                         <span id="lblPostalCodeError" style="color: Red;"></span>
                    </td>

                </tr>
                <tr>
                    <td align="left">
                        <span style="color: Red;">*</span> نوع مخاطب:
                    </td>
                    <td>
                            @(Html.Kendo().DropDownList()
                                  .Name("cboType")
                                  .OptionLabel("نوع مخاطب ...")
                                  .DataTextField("fldName")
                                  .DataValueField("fldID")
                                  .DataSource(source =>
                                  {
                                      source.Read(read =>
                                      {
                                          read.Action("GetCascadeType", "Contact");
                                      });
                                  }).HtmlAttributes(new { @style = "display: none;width:169px;" })
                            )
                    </td>
                    <td align="left">
                        توضیحات:
                    </td>
                    <td>
                        @Avarez.Helper.winClass.textArea("txtDesc", 4, 30)
                    </td>
                </tr>                            

                
            </table>
            <p>
                @Avarez.Helper.winClass.Buttons("AddLink", "ذخیره", "Save")
                @Avarez.Helper.winClass.Buttons("EditLink", "ویرایش", "Edit")
                @Avarez.Helper.winClass.Buttons("DelLink", "حذف", "Del")
                @Avarez.Helper.winClass.Buttons("exit", "خروج", "Exit")
            </p>
        </center>
        @(Html.Kendo().PanelBar()
        .Name("panelbar-images")
        .Items(panelbar =>
        {
            panelbar.Add().Text("جستجو")
                .ImageUrl(Url.Content("~/Content/images/search.png"))
                .Content(@<div>
                    <table>
                        <tr>
                            <td>
                                فیلد جستجو:@Html.DropDownList("cboSearchFiald", new SelectList(new[] { new { ID = "0", Name = "نام" }, new { ID = "1", Name = "نام خانوادگی" }, new { ID = "2", Name = "تلفن1" }, new { ID = "3", Name = "همراه 1" }, new { ID = "4", Name = "ایمیل" } }, "ID", "Name"))
                            </td>
                            <td>
                                نوع جستجو: @Html.DropDownList("cboSearchType", new SelectList(new[] { new { ID = "0", Name = "مشابه عبارت" }, new { ID = "1", Name = "مشابه عبارت از سمت راست" }, new { ID = "2", Name = "عین عبارت" } }, "ID", "Name"))
                            </td>
                        </tr>
                        <tr>
                            <td>
                                عبارت جستجو: @Avarez.Helper.winClass.textbox("txtSearch")
                            </td>
                            <td>
                                نتیجه رکوردها:  @Html.TextBox("txtTop", 30, new { @style = "width:30px;" }) رکورد
                            </td>
                        </tr>
                    </table>
                    <br />
                </div>);
        })
        )
        <div class="k-rtl demo-section">
            @(Html.Kendo().Grid<Avarez.Models.sp_ContactSelect>()
                .Name("Grid")
                .Columns(columns =>
                {
                    columns.Bound(p => p.fldID).Title("کد").Visible(false);
                    columns.Bound(p => p.fldName).Title("نام");
                    columns.Bound(p => p.fldFamily).Title("نام خانوادگی");
                    columns.Bound(p => p.fldTel1).Title("تلفن 1");
                    columns.Bound(p => p.fldTel2).Title("تلفن 2");
                    columns.Bound(p => p.fldMobile1).Title("موبایل1");
                    columns.Bound(p => p.fldMobile2).Title("موبایل2");
                    columns.Bound(p => p.fldEmail).Title("ایمیل");
                    columns.Bound(p => p.fldPostalCode).Title("کدپستی");
                    columns.Bound(p => p.fldDesc).Title("توضیحات");
                })
            .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
            .Pageable()
            .Scrollable()
            .DataSource(data =>
                data.Ajax()
                        .PageSize(10).Read("Fill", "Contact")
            )
        )
        </div>
    </div>
    <script type="text/javascript">
        $("document").ready(function () {
            $("#AddLink").button();
            $("#EditLink").button();
            $("#DelLink").button();
            $('#Help').button();
            $("#exit").button();

            $("#exit").click(function () {
                $("#Contact").remove();
            });

            $('#Contact').on('keyup', 'input', function (event) {
                if (event.which == 13) {
                    var inputs = $('#Contact').find(':input:visible');
                    inputs.eq(inputs.index(this) + 1).focus();
                }
            });

            $(document).keyup(function (event) {
                if (event.which == 119) {
                    SaveRecord();
                }
                else if (event.which == 113) {
                    EditRecord();
                }
                else if (event.which == 115) {
                    DeleteRecord();
                }
            });
            $('#AddLink').attr('title', 'کلید میانبر (F8)'); //119
            $('#EditLink').attr('title', 'کلید میانبر (F2)'); //113
            $('#DelLink').attr('title', 'کلید میانبر (F4)'); //115

            jQuery("#EditLink").click(function () {
                EditRecord();
            });

            $('#DelLink').click(function () {
                DeleteRecord();
            });

            $("#AddLink").click(function () {
                SaveRecord();
            });

            $('#txtSearch').keyup(function () {
                var url = '@Url.Action("Reload", "Contact")';
                Reload(url, 'Grid', $("#cboSearchFiald").val(), $("#txtSearch").val(), $("#txtTop").val(), $("#cboSearchType").val());
            });

            $("#txtName").keyup(function () {
                if ($("#txtName").val() != '') {
                    $("#txtName").removeClass("input-validation-error");
                    $("#lblNameError").html("");
                }
                else {
                    $("#txtName").addClass("input-validation-error");
                    $('#lblNameError').html('لطفا نام را وارد کنید.');
                }
            });

            $("#txtFamily").keyup(function () {
                if ($("#txtFamily").val() != '') {
                    $("#txtFamily").removeClass("input-validation-error");
                    $("#lblFamilyError").html("");
                }
                else {
                    $("#txtFamily").addClass("input-validation-error");
                    $('#lblFamilyError').html('لطفا نام خانوادگی را وارد کنید.');
                }
            });

            $("#txtTel1").keyup(function () {
                if ($("#txtTel1").val() != '') {
                    $("#txtTel1").removeClass("input-validation-error");
                    $("#lblTel1Error").html("");
                }
                else {
                    $("#txtTel1").addClass("input-validation-error");
                    $('#lblTel1Error').html('لطفا شماره تلفن را وارد کنید.');
                }
            });

            $("#txtMobile1").keyup(function () {
                if ($("#txtMobile1").val() != '') {
                    $("#txtMobile1").removeClass("input-validation-error");
                    $("#lblMobile1Error").html("");
                }
                else {
                    $("#txtMobile1").addClass("input-validation-error");
                    $('#lblMobile1Error').html('لطفاشماره همراه را وارد کنید.');
                }
            });
   
        });
        function Clear() {
            $('#txtName').val('');
            $('#txtFamily').val('');
            $('#txtTel1').val('');
            $('#txtTel2').val('');
            $('#txtMobile1').val('');
            $('#txtMobile2').val('');
            $('#txtEmail').val('');
            $('#txtFax').val('');
            $('#txtWebsite').val('');
            $('#txtPostalCode').val('');
            $('#fldId').val(0);
            $('#txtDesc').val('');
        }
        function SaveRecord() {
                var er = false;
                if ($("#txtName").val() == '') {
                    $("#txtName").addClass("input-validation-error");
                    $('#lblNameError').html('لطفا نام را وارد کنید.');
                    er = true;
                }
                else
                    $('#lblNameError').html('');

                if ($("#txtFamily").val() == '') {
                    $("#txtFamily").addClass("input-validation-error");
                    $('#lblFamilyError').html('لطفا نام خانوادگی را وارد کنید.');
                    er = true;
                }
                else
                    $('#lblFamilyError').html('');

                if ($("#txtTel1").val() == '') {
                    $("#txtTel1").addClass("input-validation-error");
                    $('#lblTel1Error').html('لطفاشماره تلفن را وارد کنید.');
                    er = true;
                }
                else
                    $('#lblTel1Error').html('');

                if ($("#txtMobile1").val() == '') {
                    $("#txtMobile1").addClass("input-validation-error");
                    $('#lblMobile1Error').html('لطفاشماره همراه را وارد کنید.');
                    er = true;
                }
                else
                    $('#lblMobile1Error').html('');

                if (er)
                    return;

                var data = { 
                           fldName: $("#txtName").val(),
                            fldFamily:$('#txtFamily').val(),
                            fldTel1:$('#txtTel1').val(),
                            fldTel2:$('#txtTel2').val(),
                            fldMobile1:$('#txtMobile1').val(),
                            fldMobile2:$('#txtMobile2').val(),
                            fldEmail:$('#txtEmail').val(),
                            fldFax: $('#txtFax').val(),
                            fldWebsite: $('#txtWebsite').val(),
                            fldPostalCode: $('#txtPostalCode').val(),
                            fldAccostTypeID: $('#cboType').val(),
                            
                            fldUserID: 1, fldDesc: $("#txtDesc").val(),
                            fldId: $("#fldId").val()
                };
                if (data != '') {
                    PostForm(data, '@Url.Content("~/Contact/Save")', "#win");
                }
                Clear();
            }
        function EditRecord() {
                var entityGrid = $("#Grid").data("kendoGrid");
                var selectedItem = entityGrid.dataItem(entityGrid.select());
                if (selectedItem) {
                    var id = selectedItem.fldID;
                    var URL = '@Url.Content("~/Contact/Details")';
                    URL = URL + "/" + id;
                    $.ajax({
                        type: "GET",
                        url: URL,
                        success: function (data) {
                            $('#txtName').val(data.fldName);
                            $('#txtFamily').val(data.fldFamily);
                            $('#txtTel1').val(data.fldTel1);
                            $('#txtTel2').val(data.fldTel2);
                            $('#txtMobile1').val(data.fldMobile1);
                            $('#txtMobile2').val(data.fldMobile2);
                            $('#txtEmail').val(data.fldEmail);
                            $('#txtFax').val(data.fldFax);
                            $('#txtWebsite').val(data.fldWebsite);
                            $('#txtPostalCode').val(data.fldPostalCode);
                            $('#fldId').val(data.fldId);
                            $('#txtDesc').val(data.fldDesc);
                            var type = $("#cboType").data("kendoDropDownList");
                            type.value(data.fldAccostTypeID);
                        },
                        failure: function (data) {
                            alert(data.data);
                        }
                    });
                }
                else {
                    alert('لطفا یک سطر را انتخاب کنید.');
                }
            }
            function DeleteRecord() {
                var entityGrid = $("#Grid").data("kendoGrid");
                var selectedItem = entityGrid.dataItem(entityGrid.select());
                if (selectedItem) {
                    var id = selectedItem.fldID;
                    var URL = '@Url.Content("~/metro/YesNomsg")';
                    URL = URL + "/?id=" + id + "&URL=" + '@Url.Content("~/Contact/Delete")';
                    windowAppend("body", URL);
                    $("#message").html('آیا مایل به حذف رکورد انتخاب شده هستید؟');
                }
                else {
                    alert('لطفا یک سطر را انتخاب کنید.');
                }
                Clear();
            }
        function Reload(Url, gridname, field, value, top, searchType) {
            var grid = $('#' + gridname).data('kendoGrid');
            $.ajax({
                url: Url,
                type: 'get',
                datatype: 'json',
                data: { field: field, value: value, top: top, searchtype: searchType },
                error: function (xhr, status, error) {
                    alert(xhr + status);
                },
                success: function (result) {
                    $("#" + gridname).data("kendoGrid").dataSource.data(result);
                }

            });
        }

        function PostForm(datas, url, id) {
            var sendInfo = datas;
            $('#Lock').show();
            $.ajax({
                type: "POST",
                url: url,
                data: sendInfo,
                datatype: "json",
                success: function (data) {
                    var m = data;
                    windowAppend("body", "/metro/error");
                    $("#message").html(m.data);
                    switch (m.state) {
                        case 0:
                            $("#error .wintitle").html("ذخیره موفق");
                            break;
                        case 1:
                            $("#error .wintitle").html("خطا");
                            break;
                    }
                    var url = '@Url.Action("Reload", "Contact")';
                    Reload(url, 'Grid', '0', '', 30, 1);
                    $('#Lock').hide();
                },
                failure: function (data) {
                    alert(data.data);
                }
            });
        }    
    </script>
</div>
