@using Kendo.Mvc.UI;
<div class="modal" id="SearchFile">
    <script src="@Url.Content("~/Content/Base.js")" type="text/javascript"></script>
     <link href="@Url.Content("~/Content/web/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/web/kendo.default.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/web/kendo.rtl.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/console.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/kendo.web.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/prettify.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/kendo.aspnetmvc.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/kendo.splitter.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/cultures/kendo.fa-IR.js")" type="text/javascript"></script>
    <div>
        <img src="@Url.Content("~/Content/images/GeustNAV1.png")" />
        <br />
        <div>
        <center>
            <table>
                <tr>
                    <td align="center">
                        فیلد جستجو:@Html.DropDownList("cboSearchFiald", new SelectList(new[] { new { ID = "0", Name = "VIN" }, new { ID = "1", Name = "ش موتور و شاسی" }}, "ID", "Name"))
                        
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <span id="span1">VIN:</span> @Html.TextBox("txtSearch1") <span id="span2" style="display:none;">شماره شاسی: @Html.TextBox("txtSearch2")</span>
                    </td>
                </tr>
            </table>
            @Avarez.Helper.winClass.Buttons("search", "جستجو", "search")</center>
            <br />
        </div>
        <center>
            <div>                
                @Avarez.Helper.winClass.Buttons("next", "ادامه", "Next")
                @Avarez.Helper.winClass.Buttons("exit", "خروج", "exit")
            </div>
        </center>
        <div class="k-rtl demo-section">
            @(Html.Kendo().Grid<Avarez.Models.sp_CarUserGuestSelect>()
                .Name("Grid")
                .Columns(columns =>
                {
                    columns.Bound(p => p.fldID).Title("کد").Visible(false);
                    columns.Bound(p => p.fldMotorNumber).Title("ش موتور");
                    columns.Bound(p => p.fldShasiNumber).Title("ش شاسی");
                    columns.Bound(p => p.fldVIN).Title("VIN");
                    columns.Bound(p => p.fldModel).Title("مدل");
                    columns.Bound(p => p.fldCarModelName).Title("تیپ");
                    columns.Bound(p => p.fldCarClassName).Title("کلاس");
                })
            .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
            .Pageable()
            .Scrollable()
            .DataSource(data =>
                data.Ajax()
                .PageSize(10)
                .Model(m=>m.Id(p=>p.fldID))
            )
        )
        </div>
        
    </div>
    <script type="text/javascript">
        $("document").ready(function () {
            $("#next").button();
            $("#search").button();
            $("#exit").button();
            $("#exit").click(function () {
                $("#SearchFile").remove();
            });

            $('#search').click(function () {
                Reload('/SearchFile/Reload', 'Grid', $('#cboSearchFiald').val(), $('#txtSearch1').val(), $('#txtSearch2').val());
            });
            $('#SearchFile').on('keyup', 'input', function (event) {
                if (event.which == 13) {
                    var inputs = $('#SearchFile').find(':input:visible');
                    inputs.eq(inputs.index(this) + 1).focus();
                }
            });
            $('#cboSearchFiald').change(function () {
                if ($('#cboSearchFiald').val() == 0) {
                    $('#span2').attr('style', 'display:none;');
                    $('#span1').html('VIN:');
                    $('#value2').val('');
                }
                else {
                    $('#span2').attr('style', '');
                    $('#span1').html('شماره موتور:');
                    $('#value2').val('');
                }
            });

            $('#next').click(function () {
                var entityGrid = $("#Grid").data("kendoGrid");
                var selectedItem = entityGrid.dataItem(entityGrid.select());
                if (selectedItem) {
                    var id = selectedItem.fldID;
                    var URL = '@Url.Content("~/facture/Index")';
                    URL = URL;
                    windows("#win", URL + "/" + id);
                } else {
                    alert('لطفا یک سطر را انتخاب کنید.');
                }
            });
        });
        function Reload(Url, gridname, field, value1,value2) {
            var grid = $('#' + gridname).data('kendoGrid');
            $.ajax({
                url: Url,
                type: 'get',
                datatype: 'json',
                data: { field: field, value1: value1, value2: value2 },
                error: function (xhr, status, error) {
                    alert(xhr + status);
                },
                success: function (result) {
                    $("#" + gridname).data("kendoGrid").dataSource.data(result);
                }

            });
        }

        function PostForm(datas, url, id) {
            var sendInfo = datas;
            $('#Lock').show();
            $.ajax({
                type: "POST",
                url: url,
                data: sendInfo,
                datatype: "json",
                success: function (data) {
                    var m = data;
                    windowAppend("body", "/metro/error");
                    $("#message").html(m.data);
                    $("#fldId").val(m.id);
                    switch (m.state) {
                        case 0:
                            $("#error .wintitle").html("ذخیره موفق");
                            break;
                        case 1:
                            $("#error .wintitle").html("خطا");
                            break;
                    }
                    var url = '@Url.Action("Reload", "Owner")';
                    Reload(url, 'Grid', '0', '', 30, 1);
                    $('#Lock').hide();

                },
                failure: function (data) {
                    alert(data.data);
                }
            });
        }    
    </script>
</div>
