<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>سامانه جامع تشخیص و وصول عوارض خودرو - استان زنجان</title>
    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="@Url.Content("~/Scripts/bootstarapLogin/assets/bootstrap/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Scripts/bootstarapLogin/assets/font-awesome/css/font-awesome.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Scripts/bootstarapLogin/assets/css/form-elements.css")">
    <link rel="stylesheet" href="@Url.Content("~/Scripts/bootstarapLogin/assets/css/style.css")">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="@Url.Content("~/Scripts/bootstarapLogin/assets/ico/favicon.ico")">

</head>
<body dir="rtl" style="font-family:'B Zar'">
    <center>
        <!-- Top content -->
        <div class="top-content">

            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3>سامانه جامع تشخیص و وصول عوارض خودرو - استان تهران</h3>
                                </div>
                                <div class="form-top-right">
                                    <i class="fa fa-lock"></i>
                                </div>
                            </div>
                            <div class="form-bottom">
                                <form role="form" action="" method="post" class="login-form">
                                    <div class="form-group">
                                        <label class="sr-only" for="form-username">نام کاربری</label>
                                        <input type="text" style="font-family:'B Zar'" id="username" placeholder="نام کاربری..." class="form-username form-control" id="form-username">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-password">رمز عبور</label>
                                        <input type="password" style="font-family:'B Zar'" id="password" placeholder="رمز عبور..." class="form-password form-control" id="form-password">
                                    </div>
                                    <div dir="rtl" id="capt" style="margin-bottom:5px;">
                                        <table style="margin-bottom:15px;">
                                            <tr>
                                                <td>
                                                    <input style="font-family:RasaFont;" class="input100" name="Capthalogin" type="text" id="captcha" placeholder="کد امنیتی...">
                                                    <span class="focus-input100"></span>
                                                </td>
                                                <td>
                                                    <img id="m_imgCaptcha" />
                                                </td>
                                                <td>
                                                    <span id="BtnRefresh" style="font-size: 11px;
                                                        font-family: tornado tahoma;
                                                        width: 25px;
                                                        height:25px;
                                                        text-align: right;
                                                        align-content:center;
                                                        background-image: url('../../../../Content/refresh1.png');
                                                        display:inline-block;
                                                        margin-top:5px;
                                                        background-repeat: no-repeat;">
                                                    </span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <button type="button" class="btn" id="login" style="font-family:'B Zar'">ورود</button>
                                    <br />
                                    <span id="err"></span>
                                    <center>
                                        <button type="button" onclick="document.location.href = '/NewVer/Register_New?ImageSetting=1'" class="btn1" style="font-family:'B Zar'">ثبت نام دفاتر پیشخوان</button>
                                        <button type="button" onclick="document.location.href = '/NewVer/Account_New/LogOn'" class="btn1" style="font-family:'B Zar'">کاربران ستادی</button>
                                    </center>
                                </form>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="landing-footer">
            <ul class="navbar navbar-nav">
                <li>
                    <span class="latin-font hidden-xs ng-scope" style="font-size: medium;" translate="copyrighten"></span>
                    <span class="latin-font hidden-xs ng-binding" style="font-size: medium;" ng-bind="copyrightyear"></span>
                </li>
            </ul>
            <ul style="margin-right: -40px;" class="navbar navbar-nav pull-left hidden-xs">
                <li translate="helpDeskTel" style="font-size: medium;" class="ng-scope">استانداری تهران-مدیریت فناوری اطلاعات و شبکه دولت</li>
            </ul>
        </div>
    </center>
    <!-- Javascript -->
    <script src="@Url.Content("~/Scripts/bootstarapLogin/assets/js/jquery-1.11.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstarapLogin/assets/bootstrap/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstarapLogin/assets/js/jquery.backstretch.min.js")"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {

            /*
            Fullscreen background
            */
            $.backstretch("@Url.Content("~/Scripts/bootstarapLogin/assets/img/backgrounds/2.jpg")");

            /*
            Form validation
            */
            $('.login-form input[type="text"], .login-form input[type="password"], .login-form textarea').on('focus', function () {
                $(this).removeClass('input-error');
            });



        });
        loadCaptcha();
        jQuery("#BtnRefresh").click(function () {
            var antiCachePart = (new Date()).getTime();
            var url = "/Account_New/generateCaptchaD";
            var newSrc = url + '?dc=' + antiCachePart;
            $("#m_imgCaptcha").attr('src', newSrc);
        });
        if (parseInt('@Session["captchahave"]') > 1) {
            $('#capt').show();
        }
        function loadCaptcha() {
            var url = "/Account_New/generateCaptchaD";
            $("#m_imgCaptcha").attr('src', url);
        }
        $('#capt').hide();
        $('#login').click(function () {

            $(this).removeClass('input-error');
            var UserNameDafater = $('#username').val();
            var PassDafater = $('#password').val();
            var txtCapthaloginD = $('#captcha').val();
            $.ajax({
                url: '/NewVer/Account_New/LogOnDafater',
                method: 'post',
                data: {
                    UserName: UserNameDafater,
                    Password: PassDafater,
                    Captcha: txtCapthaloginD
                },
                success: function (data) {
                    if (data.Msg != "") {
                        $("#err").html(data.Msg);
                        if (data.HaveCaptcha2 > 1) {
                            $("#capt").show();
                        }
                    }
                    else {
                        if (data.state == "0")
                            window.location.href = "/NewVer/First/index";
                        else {
                            $("#err").html("انتخاب شهرداری ضروری می باشد");
                        }

                    }
                }
            });
        });

    </script>
    <!--[if lt IE 10]>
        <script src="assets/js/placeholder.js"></script>
    <![endif]-->
</body>
</html>