@using Kendo.Mvc.UI;
<div class="modal" id="chPass">
    <script src="@Url.Content("~/Content/Base.js")" type="text/javascript"></script>    
    <div>   
    
    <a href="@Url.Content("~/Helps/تغییر رمز.htm")" target="_blank" id="Help" title="راهنما" style="background-image:url('/Content/images/1381415123_help.png');background-repeat: no-repeat;height: 20px;float: left;top: 10px;left: 10px;"></a>
       
        <br />
        <center>
            <table>                
                <tr>
                    <td align="left">
                        <span style="color: Red;">*</span> رمز قدیم:
                    </td>
                    <td>
                        @Html.Password("txtOldPass")
                        <span id="lblOldPassError" style="color: Red;"></span>
                    </td>
                </tr>                
                <tr>
                    <td align="left">
                        @Html.Hidden("fldId")
                        <span style="color: Red;">*</span> رمز جدید:
                    </td>
                    <td>
                        @Html.Password("txtNewPass")
                        <span id="lblNewPassError" style="color: Red;"></span>
                    </td>
                </tr> 
                <tr>
                    <td align="left">
                        <span style="color: Red;">*</span> تکرار رمز جدید:
                    </td>
                    <td>
                        @Html.Password("txtTekrarNewPass")
                        <span id="lblTekrarNewPassError" style="color: Red;"></span>
                    </td>
                </tr> 
            </table>
            <p>
                @Avarez.Helper.winClass.Buttons("AddLink", "ذخیره", "Save")
                @Avarez.Helper.winClass.Buttons("exit", "خروج", "Exit")
            </p>
        </center>
    </div>
    <script type="text/javascript">
        $("document").ready(function () {
            $("#AddLink").button();
            $("#exit").button();
            $("#Help").button();
            $("#exit").click(function () {
                $("#chPass").remove();
            });

            $("#txtOldPass").keyup(function () {
                if ($("#txtOldPass").val() != '') {
                    $("#txtOldPass").removeClass("input-validation-error");
                    $("#lblOldPassError").html("");
                }
                else {
                    $("#txtOldPass").addClass("input-validation-error");
                    $('#lblOldPassError').html('لطفا رمز قدیم را وارد کنید.');
                }
            });
            $("#txtNewPass").keyup(function () {
                if ($("#txtNewPass").val() != '') {
                    $("#txtNewPass").removeClass("input-validation-error");
                    $("#lblNewPassError").html("");
                }
                else {
                    $("#txtNewPass").addClass("input-validation-error");
                    $('#lblNewPassError').html('لطفا رمز جدید را وارد کنید.');
                }
            });
            $("#txtTekrarNewPass").keyup(function () {
                if ($("#txtTekrarNewPass").val() != '') {
                    $("#txtTekrarNewPass").removeClass("input-validation-error");
                    $("#lblTekrarNewPassError").html("");
                    if ($("#txtTekrarNewPass").val() != $("#txtNewPass").val()) {
                        $("#txtTekrarNewPass").addClass("input-validation-error");
                        $('#lblTekrarNewPassError').html('لطفا تکرار رمز جدید را صحیح وارد کنید.');
                    }
                }
                else {
                    $("#txtTekrarNewPass").addClass("input-validation-error");
                    $('#lblTekrarNewPassError').html('لطفا تکرار رمز جدید را وارد کنید.');
                }
            });

            $("#AddLink").click(function () {
                var er = false;
                if ($("#txtOldPass").val() == '') {
                    $("#txtOldPass").addClass("input-validation-error");
                    $('#lblOldPassError').html('لطفا رمز قدیم را وارد کنید.');
                    er = true;
                }
                else
                    $('#lblOldPassError').html('');

                if ($("#txtNewPass").val() == '') {
                    $("#txtNewPass").addClass("input-validation-error");
                    $('#lblNewPassError').html('لطفا رمز جدید را وارد کنید.');
                    er = true;
                }
                else
                    $('#lblNewPassError').html('');

                if ($("#txtTekrarNewPass").val() != $("#txtNewPass").val()) {
                    $("#txtTekrarNewPass").addClass("input-validation-error");
                    $('#lblTekrarNewPassError').html('لطفا تکرار رمز جدید را صحیح وارد کنید.');
                    er = true;
                }
                else
                    $('#lblTekrarNewPassError').html('');

                if (er)
                    return;

                var data = {
                    OldPassword: $('#txtOldPass').val(),
                    NewPassword: $('#txtNewPass').val(),
                    ConfirmPassword: $('#txtTekrarNewPass').val()
                };
                if (data != '') {
                    PostForm(data, '@Url.Content("~/Account/ChangePassword")', "#win");
                }
                Clear();
            });

        });       
       

        function PostForm(datas, url, id) {
            var sendInfo = datas;
            $('#Lock').show();
            $.ajax({
                type: "POST",
                url: url,
                data: sendInfo,
                datatype: "json",
                success: function (data) {
                    var m = data;
                    windowAppend("body", "/metro/error");
                    $("#message").html(m.data);
                    switch (m.state) {
                        case 0:
                            $("#error .wintitle").html("ذخیره موفق");
                            break;
                        case 1:
                            $("#error .wintitle").html("خطا");
                            break;
                    }
                                        
                    $('#Lock').hide();
                },
                failure: function (data) {
                    alert(data.data);
                }
            });
        }    
    </script>
</div>
