@using Kendo.Mvc.UI;
<div class="modal" id="BankParametr">
    <script src="@Url.Content("~/Content/Base.js")" type="text/javascript"></script>    
    <div>    

    
  <a href="@Url.Content("~/Helps/ثبت پارارمترهای بانکها.htm")" target="_blank" id="Help" title="راهنما" style="background-image:url('/Content/images/1381415123_help.png');background-repeat: no-repeat;height: 20px;float: left;top: 10px;left: 10px;"></a>
 
        <br />
        <center>
            <table>
                <tr>
                    <td align="left">
                        نام بانک:
                    </td>
                    <td>

                            @(Html.Kendo().DropDownList()
                                  .Name("cboBankName")
                                  .OptionLabel("نام بانک...")
                                  .DataTextField("fldName")
                                  .DataValueField("fldID")
                                  .DataSource(source =>
                                  {
                                      source.Read(read =>
                                      {
                                          read.Action("GetCascadeBank", "BankParametr");
                                      });
                                  })
                            )                      
                    </td>
                </tr>      
                <tr>
                    <td align="left">
                        @Html.Hidden("fldId")
                        <span style="color: Red;">*</span> نام خاصیت(انگلیسی):
                    </td>
                    <td>
                        @Avarez.Helper.winClass.textbox("txtEnProp")
                         <span id="lblEnPropError" style="color: Red;"></span>
                    </td>
                </tr>  
                <tr>
                    <td align="left">
                        <span style="color: Red;">*</span> نام خاصیت(فارسی):
                    </td>
                    <td>
                        @Avarez.Helper.winClass.textbox("txtFaProp")
                         <span id="lblFaPropError" style="color: Red;"></span>
                    </td>
                </tr>              
                <tr>
                    <td align="left">
                        توضیحات:
                    </td>
                    <td>
                        @Avarez.Helper.winClass.textArea("txtDesc", 4, 30)
                    </td>
                </tr>
                
            </table>
            <p>
                @Avarez.Helper.winClass.Buttons("AddLink", "ذخیره", "Save")
                @Avarez.Helper.winClass.Buttons("EditLink", "ویرایش", "Edit")
                @Avarez.Helper.winClass.Buttons("DelLink", "حذف", "Del")
                @Avarez.Helper.winClass.Buttons("exit", "خروج", "Exit")
            </p>
        </center>
        @(Html.Kendo().PanelBar()
        .Name("panelbar-images")
        .Items(panelbar =>
        {
            panelbar.Add().Text("جستجو")
                .ImageUrl(Url.Content("~/Content/images/search.png"))
                .Content(@<div>
                    <table>
                        <tr>
                            <td>
                                فیلد جستجو:@Html.DropDownList("cboSearchFiald", new SelectList(new[] { new { ID = "1", Name = "نام بانک" }, new { ID = "2", Name = "نام خاصیت(انگلیسی)" }, new { ID = "3", Name = "نام خاصیت(فارسی)" } }, "ID", "Name"))
                            </td>
                            <td>
                                نوع جستجو: @Html.DropDownList("cboSearchType", new SelectList(new[] { new { ID = "0", Name = "مشابه عبارت" }, new { ID = "1", Name = "مشابه عبارت از سمت راست" }, new { ID = "2", Name = "عین عبارت" } }, "ID", "Name"))
                            </td>
                        </tr>
                        <tr>
                            <td>
                                عبارت جستجو: @Avarez.Helper.winClass.textbox("txtSearch")
                            </td>
                            <td>
                                نتیجه رکوردها:  @Html.TextBox("txtTop", 30, new { @style = "width:30px;" }) رکورد
                            </td>
                        </tr>
                    </table>
                    <br />
                </div>);
        })
        )
        <div class="k-rtl demo-section">
            @(Html.Kendo().Grid<Avarez.Models.sp_BankParameterSelect>()
                .Name("Grid")
                .Columns(columns =>
                {
                    columns.Bound(p => p.fldID).Title("کد").Visible(false);
                    columns.Bound(p => p.fldBankName).Title("نوع بانک");
                    columns.Bound(p => p.fldPropertyNameEN).Title("نام خاصیت(انگلیسی)");
                    columns.Bound(p => p.fldPropertyNameFA).Title("نام خاصیت(فارسی)");
                    columns.Bound(p => p.fldDesc).Title("توضیحات");
                })
            .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
            .Pageable()
            .Scrollable()
            .DataSource(data =>
                data.Ajax()
                .PageSize(10).Read("Fill","BankParametr")
            )
        )
        </div>
    </div>
    <script type="text/javascript">
        $("document").ready(function () {
            $("#AddLink").button();
            $("#EditLink").button();
            $("#DelLink").button();
            $("#exit").button(); 
            $("#Help").button();

            $("#exit").click(function () {
                $("#BankParametr").remove();
            });

            $('#BankParametr').on('keyup', 'input', function (event) {
                if (event.which == 13) {
                    var inputs = $('#BankParametr').find(':input:visible');
                    inputs.eq(inputs.index(this) + 1).focus();
                }
            });

            $(document).keyup(function (event) {
                if (event.which == 119) {
                    SaveRecord();
                }
                else if (event.which == 113) {
                    EditRecord();
                }
                else if (event.which == 115) {
                    DeleteRecord();
                }
            });
            $('#AddLink').attr('title', 'کلید میانبر (F8)'); //119
            $('#EditLink').attr('title', 'کلید میانبر (F2)'); //113
            $('#DelLink').attr('title', 'کلید میانبر (F4)'); //115

            jQuery("#EditLink").click(function () {
                EditRecord();
            });

            $('#DelLink').click(function () {
                DeleteRecord();
            });

            $("#AddLink").click(function () {
                SaveRecord();
            });

            $("#cboBankName").change(function () {
                Reload('/BankParametr/Reload', 'Grid', '0', $("#cboBankName").val(), 30, 0);
            });

            $('#txtSearch').keyup(function () {
                var url = '@Url.Action("Reload", "BankParametr")';
                Reload(url, 'Grid', $("#cboSearchFiald").val(), $("#txtSearch").val(), $("#txtTop").val(), $("#cboSearchType").val());
            });

//            $("#txtType").keyup(function () {
//                if ($("#txtType").val() != '') {
//                    $("#txtType").removeClass("input-validation-error");
//                    $("#lblTypeError").html("");
//                }
//                else {
//                    $("#txtType").addClass("input-validation-error");
//                    $('#lblTypeError').html('لطفا نوع بانک را وارد کنید.');
//                }
//            });

        });
        function Clear() {
            $('#txtType').val('');
            $('#fldId').val(0);
            $('#txtDesc').val('');
        }
        function SaveRecord() {
                var er = false;
                if ($("#txtType").val() == '') {
                    $("#txtType").addClass("input-validation-error");
                    $('#lblTypeError').html('لطفا نوع بانک را وارد کنید.');
                    er = true;
                }
                else
                    $('#lblTypeError').html('');

                if (er)
                    return;

                var data = { fldBankID: $("#cboBankName").val(),
                    fldPropertyNameEN: $("#txtEnProp").val(),
                    fldPropertyNameFA: $("#txtFaProp").val(),
                    fldUserID: 1, fldDesc: $("#txtDesc").val(),
                    fldId: $("#fldId").val()
                };
                if (data != '') {
                    PostForm(data, '@Url.Content("~/BankParametr/Save")', "#win");
                }
                Clear();
            }
         function EditRecord() {
                var entityGrid = $("#Grid").data("kendoGrid");
                var selectedItem = entityGrid.dataItem(entityGrid.select());
                if (selectedItem) {
                    var id = selectedItem.fldID;
                    var URL = '@Url.Content("~/BankParametr/Details")';
                    URL = URL + "/" + id;
                    $.ajax({
                        type: "GET",
                        url: URL,
                        success: function (data) {
                            
                            $('#fldId').val(data.fldId);
                            $('#txtDesc').val(data.fldDesc);
                            var Bank = $("#cboBankName").data("kendoDropDownList");
                            Bank.value(data.fldBankId);
                            $("#txtEnProp").val(data.fldEnProp);
                            $("#txtFaProp").val(data.fldFaProp);
                          
                        },
                        failure: function (data) {
                            alert(data.data);
                        }
                    });
                }
                else {
                    alert('لطفا یک سطر را انتخاب کنید.');
                }
            }
            function DeleteRecord() {
                var entityGrid = $("#Grid").data("kendoGrid");
                var selectedItem = entityGrid.dataItem(entityGrid.select());
                if (selectedItem) {
                    var id = selectedItem.fldID;
                    var URL = '@Url.Content("~/metro/YesNomsg")';
                    URL = URL + "/?id=" + id + "&URL=" + '@Url.Content("~/BankParametr/Delete")';
                    windowAppend("body", URL);
                    $("#message").html('آیا مایل به حذف رکورد انتخاب شده هستید؟');
                }
                else {
                    alert('لطفا یک سطر را انتخاب کنید.');
                }
                Clear();
            }
        function Reload(Url, gridname, field, value, top, searchType) {
            var grid = $('#' + gridname).data('kendoGrid');
            $.ajax({
                url: Url,
                type: 'get',
                datatype: 'json',
                data: { field: field, value: value, top: top, searchtype: searchType },
                error: function (xhr, status, error) {
                    alert(xhr + status);
                },
                success: function (result) {
                    $("#" + gridname).data("kendoGrid").dataSource.data(result);
                }

            });
        }

        function PostForm(datas, url, id) {
            var sendInfo = datas;
            $('#Lock').show();
            $.ajax({
                type: "POST",
                url: url,
                data: sendInfo,
                datatype: "json",
                success: function (data) {
                    var m = data;
                    windowAppend("body", "/metro/error");
                    $("#message").html(m.data);
                    switch (m.state) {
                        case 0:
                            $("#error .wintitle").html("ذخیره موفق");
                            break;
                        case 1:
                            $("#error .wintitle").html("خطا");
                            break;
                    }
                    var url = '@Url.Action("Reload", "BankType")';
                    Reload(url, 'Grid', '0', '', 30, 0);
                    $('#Lock').hide();
                },
                failure: function (data) {
                    alert(data.data);
                }
            });
        }    
    </script>
</div>
