<div id="CarPlaquSearch">
    @using Kendo.Mvc.UI;
    <script src="@Url.Content("~/Content/Base.js")" type="text/javascript"></script>
    <img src="@Url.Content("~/Content/images/ChOwnerNav2.png")" />
    <div>
        <center>
            <table>
                <tr>
                    <td align="center">
                        فیلد جستجو:@Html.DropDownList("cboSearchFiald2", new SelectList(new[] { new { ID = "0", Name = "کد ملی مالک" }, new { ID = "1", Name = "نام مالک" }, new { ID = "2", Name = "ش پلاک" } }, "ID", "Name"))
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <span id="span1">کد ملی مالک:</span> @Html.TextBox("txtSearch2")
                    </td>
                </tr>
            </table>
            @Avarez.Helper.winClass.Buttons("search2", "جستجو", "search")
            <br />
            
             @Avarez.Helper.winClass.Buttons("next2", "ادامه", "next")
             @Avarez.Helper.winClass.Buttons("New", "جدید", "yes")
            </center>
        <br />
    </div>
    <div class="k-rtl demo-section">
        @(Html.Kendo().Grid<Avarez.Models.sp_CarPlaqueSelect>()
                .Name("Grid2")
                .Columns(columns =>
                {
                    columns.Bound(p => p.fldID).Title("کد").Visible(false);
                    columns.Bound(p => p.fldOwnerName).Title("نام مالک");
                    columns.Bound(p => p.fldPlaqueNumber).Title("شماره پلاک");
                    columns.Bound(p => p.fldPlaqueCityName).Title("شهر");
                    columns.Bound(p => p.fldPlaqueSerial).Title("شماره سریال");
                    columns.Bound(p => p.fldDesc).Title("توضیحات");
                })
            .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
            .Pageable()
            .Scrollable()
            .DataSource(data =>
                data.Ajax()
                        .PageSize(10)
                        .Model(m=>m.Id(p=>p.fldID))
            )
        )
    </div>
    <script type="text/javascript">
        var CarId = '';
        $(document).ready(function () {
            CarId = '@ViewBag.CarId';
            $("#next2").button();
            $("#New").button();
            $("#New").click(function () {
                if (Dialog == 0) {
                    Dialog = 1;
                    windowAppend("body", "/CommonWin/index");
                    windows("#CommonContent", "/Owner/Index/2");
                }
            });
            $("#search2").button();

            $('#cboSearchFiald2').change(function () {
                var x = new Array('کد ملی مالک', 'نام مالک', 'ش موتور', 'ش پلاک');
                $('#span1').html(x[$("#cboSearchFiald2").val()] + ':');
                $('#value2').val('');
            });

            $('#search2').click(function () {
                Reload2('/ChCarFilePelaquSearch/Reload', 'Grid2', $('#cboSearchFiald2').val(), $('#txtSearch2').val());
            });
            $("#next2").click(function () {
                var entityGrid = $("#Grid2").data("kendoGrid");
                var selectedItem = entityGrid.dataItem(entityGrid.select());
                if (selectedItem) {
                    var id = selectedItem.fldID;
                    if (Dialog1 == 1)
                        windows("#CommonContent1", "/ChCarFile/Index?PlaquId=" + id + "&CarID=" + CarId);
                    else
                        windows("#win", "/ChCarFile/Index?PlaquId=" + id + "&CarID=" + CarId);
                }
                else {
                    alert('لطفا یک سطر را انتخاب کنید.');
                }
            });
        });

        function Reload2(Url, gridname, field, value1) {
            var grid = $('#' + gridname).data('kendoGrid');
            $.ajax({
                url: Url,
                type: 'get',
                datatype: 'json',
                data: { field: field, value1: value1 },
                error: function (xhr, status, error) {
                    alert(xhr + status);
                },
                success: function (result) {
                    $("#" + gridname).data("kendoGrid").dataSource.data(result);
                }

            });
        }
    </script>
</div>
