<div id="RptCollection" dir="rtl">
    <script src="@Url.Content("~/Scripts/jquery.ui.datepicker-cc.all.min.js")" type="text/javascript"></script>
    <center>
        <br />
        <br />
        <br />
        <table>
            <tr>
                <td align="left">
                    موقعیت کاربر:
                </td>
                <td colspan="3" dir="rtl" id="Location" align="right">
                </td>
            </tr>
            <tr>
                <td colspan="4" align="center" style="height: 30px;">
                    @Html.Label("موقعیت انتخاب شده: ", new { @id = "Position" })
                </td>
            </tr>
            <tr>
                    <td align="left">
                        نوع پرداخت
                    </td>
                    <td>
                        @(Html.Kendo().DropDownList()
                            .Name("CboPayType")
                            .Items(it =>
                            {
                                it.Add().Text("حضوری").Value("1");
                                it.Add().Text("غیر حضوری").Value("2");
                                it.Add().Text("حضوری و غیر حضوری").Value("3");
                            })
                        )
                    </td>
                </tr>
            <tr>
                <td align="left">
                    نحوه پرداخت:
                </td>
                <td>

                    @(Html.Kendo().DropDownList()
                                .Name("cboSettleType")
                                  .OptionLabel("همه موارد")
                                  .DataTextField("fldName")
                                  .DataValueField("fldID")
                                  .DataSource(source =>
                                  {
                                      source.Read(read =>
                                      {
                                          read.Action("GetSettleType", "AppReports");
                                      });
                                  }).HtmlAttributes(new { @style = "display: none;width:169px;" })
                    )
                </td>
                <td></td>
            </tr>
            <tr>
                <td align="left">
                    تاریخ شروع:
                </td>
                <td align="right">
                    @Avarez.Helper.winClass.textbox("txtStart")
                </td>
            </tr>
            <tr>
                <td align="left">
                    تاریخ پایان:
                </td>
                <td align="right">
                    @Avarez.Helper.winClass.textbox("txtEnd")
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <br />
                    @Avarez.Helper.winClass.Buttons("Preview", "نمایش", "yes")
                    @Avarez.Helper.winClass.Buttons("excel", "خروجی excel", "yes")
                </td>
            </tr>
        </table>
    </center>
    <script type="text/javascript">

    function select(e) {
        var dataItem = this.dataItem(e.node);
        id = dataItem.id;
        SID = dataItem.fldSid;
        NType = dataItem.fldNodeType;
        var url = '@Url.Content("~/user/Position")';
            $.ajax({
                type: "post",
                url: url,
                data: { id: id },
                datatype: "json",
                success: function (data) {
                    var m = data;
                    $('#Position').html('موقعیت انتخاب شده: ' + m.Position);
                    var treeview = $("#treeview").data("kendoTreeView");
                    treeview.collapse(".k-item");
                },
                failure: function (data) {
                    alert(data.data);
                }
            });
        }
        var id=0;
        var SID;
        var NType=0;
        $(document).ready(function () {
            $('#Location').html($('#LocationDiv').valueOf());
            $('#Preview').button();
            $('#excel').button();
            $('#excel').click(function () {
                if (id == 0) {
                    alert("لطفا موقعیت کاربر را انتخاب نمایید.");
                    return;
                }
                else {
                    var t = '@Url.Content("~/AppReports/CollectionExcel/")' + '?SDate=' + $('#txtStart').val() + '&EDate=' + $('#txtEnd').val() + "&ReportType=" + $("#CboPayType").val() + "&treeid=" + id + "&SettleTypeId=" + $("#cboSettleType").val();
                    window.location.href = t;
                }
            });
            $('#Preview').click(function () {
                //window.open('@Url.Content("~/AppReports/RptCollection")' + '?SDate=' + $('#txtStart').val() + '&EDate=' + $('#txtEnd').val());
            if (id == 0) {
                alert("لطفا موقعیت کاربر را انتخاب نمایید.");
                return;
            }
            else {
                if (isWinOpen == false) {
                    isWinOpen = true;
                    windowAppend('body', '/Home/PreviewRptPDFBox');
                    var t = '@Url.Content("~/AppReports/RptCollection")' + '?SDate=' + $('#txtStart').val() + '&EDate=' + $('#txtEnd').val() + "&ReportType=" + $("#CboPayType").val() + "&treeid=" + id + "&SettleTypeId=" + $("#cboSettleType").val();
                    $('#pdf').html("<br/><object style='width: 900px;height: 500px;border: 1px solid #ccc;' id='pdfbox' type='application/pdf' data='" + t + "'></object> ");
                }
            }
        });

        $('#txtStart').datepicker({
            onSelect: function (dateText, inst) {
                $('#txtEnd').datepicker('option', 'minDate', new JalaliDate(inst['selectedYear'], inst['selectedMonth'], inst['selectedDay']));
            },
            showButtonPanel: true,
            changeMonth: true,
            changeYear: true
        });

        $('#txtEnd').datepicker({
            showButtonPanel: true,
            changeMonth: true,
            changeYear: true
        });
    });
    </script>
    @using Kendo.Mvc.UI;
    <div class="treeview-back  k-rtl" dir="rtl" id="LocationDiv">
    @(Html.Kendo().TreeView()
        .Name("treeview")
        .DataImageUrlField("image")
        .DataTextField("Name")
        .Checkboxes(chkbxs =>
        {
            chkbxs.Enabled(false).CheckChildren(false);
        })
        .DataSource(dataSource => dataSource
            .Read(read => read
                .Action("_Tree", "AppReports")
            )
        )
        .Events(events =>
            events.Select("select")
        )
    )
</div>
</div>
