<div id="SearchColor" class="modal">
    @Avarez.Helper.winClass.windowHeader("", "جستجو رنگ خودرو", 600, 430)
    @using Kendo.Mvc.UI;
    <div>
        <center>
            <br />
            <table>
                <tr>
                    <td>
                        عبارت جستجو: @Avarez.Helper.winClass.textbox("txtSearch10")
                    </td>
                    <td>
                        نتیجه رکوردها: @Html.TextBox("txtTop10", 30, new { @style = "width:30px;" }) رکورد
                    </td>
                </tr>
            </table>
            <br />
        </center>
    </div>
    <center>
        <div>
            @Avarez.Helper.winClass.Buttons("_next1", "انتخاب", "Next")
            @Avarez.Helper.winClass.Buttons("_exit1", "خروج", "exit")
        </div>
    </center>
    <div class="k-rtl demo-section">
        @(Html.Kendo().Grid<Avarez.Models.sp_ColorCarSelect>()
                .Name("ColorGrid")
                .Columns(columns =>
                {
                    columns.Bound(p => p.fldID).Title("کد").Visible(false);
                    columns.Bound(p => p.fldColor).Title("رنگ").Width(100);
                })
            .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
            .Pageable()
            .Scrollable()
            .DataSource(data =>
                data.Ajax()
                .PageSize(10)
                .Read(read => read.Action("Fill", "SearchColor"))
            )
        )
    </div>
    <script type="text/javascript">
        $("document").ready(function () {
            $("#_next1").button();
            $("#_search").button();
            $("#_exit1").button();
            $("#_exit1").click(function () {
                $("#SearchColor").remove();
                isWinOpen = false;
            });
            $('#SearchClass #btnClose').click(function () {
                $("#SearchColor").remove();
                isWinOpen = false;
            });
            $('#txtSearch10').keyup(function () {
                ClassReload('/SearchColor/Reload', 'ColorGrid', $('#txtSearch10').val(), $('#txtTop10').val());
            });

            $('#_next1').click(function () {
                var entityGrid = $("#ColorGrid").data("kendoGrid");
                var selectedItem = entityGrid.dataItem(entityGrid.select());
                if (selectedItem) {
                    ColorId = selectedItem.fldID;
                    
                    $('#txtColor').val(selectedItem.fldColor);
                    $("#SearchColor").remove();
                    isWinOpen = false;
                } else {
                    alert('لطفا یک سطر را انتخاب کنید.');
                }
            });
        });
        function ClassReload(Url, gridname, value, top) {
            var grid = $('#' + gridname).data('kendoGrid');
            $.ajax({
                url: Url,
                type: 'get',
                datatype: 'json',
                data: { value: value, top: top },
                error: function (xhr, status, error) {
                    alert(xhr + status);
                },
                success: function (result) {
                    $("#" + gridname).data("kendoGrid").dataSource.read();
                }
            });
        }
    </script>
    @Avarez.Helper.winClass.windowFother()
</div>
