<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>سامانه جامع تشخیص و وصول عوارض خودرو - استان زنجان</title>
    <!-- CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="@Url.Content("~/Scripts/bootstarapLogin/assets/bootstrap/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Scripts/bootstarapLogin/assets/font-awesome/css/font-awesome.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Scripts/bootstarapLogin/assets/css/form-elements.css")">
    <link rel="stylesheet" href="@Url.Content("~/Scripts/bootstarapLogin/assets/css/style.css")">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="@Url.Content("~/Scripts/bootstarapLogin/assets/ico/favicon.ico")">
    <style>
        .dropdown {
            overflow: hidden;
        }
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            min-width:120px;
            z-index: 1;
        }
        .dropdown-content a {
            float: none;
            padding: 5px 10px;
            text-decoration: none;
            display: block;
            text-align: right;
            color: white;
        }
        .dropdown-content a:hover {
            background-color: #ddd;
            color: black;
        }
        .dropdown:hover .dropdown-content {
            display: block;
            font-size: 16px;
            position: fixed;
            background-color: #0c054c;
            min-width:120px;
            color: white;
        }
    </style>

</head>
<body dir="rtl" style="font-family:'B Zar'">
    <center>
        <!-- Top content -->
        <div class="top-content">

            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3>سامانه جامع تشخیص و وصول عوارض خودرو - استان زنجان</h3>
                                </div>
                                <div class="form-top-right">
                                    <i class="fa fa-lock"></i>
                                </div>
                            </div>
                            <div class="form-bottom">
                                <form role="form" action="" method="post" class="login-form">
                                    <div class="form-group">
                                        <label class="sr-only" for="form-username">نام کاربری</label>
                                        <input type="text" style="font-family:'B Zar'" id="username" placeholder="نام کاربری..." class="form-username form-control" id="form-username">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-password">رمز عبور</label>
                                        <input type="password" style="font-family:'B Zar'" id="password" placeholder="رمز عبور..." class="form-password form-control" id="form-password">
                                    </div>
                                    <div dir="rtl" id="capt" style="margin-bottom:5px;">
                                        <table style="margin-bottom:15px;">
                                            <tr>
                                                <td>
                                                    <input style="font-family:RasaFont;" class="input100" name="Capthalogin" type="text" id="captcha" placeholder="کد امنیتی...">
                                                    <span class="focus-input100"></span>
                                                </td>
                                                <td>
                                                    <img id="m_imgCaptcha" />
                                                </td>
                                                <td>
                                                    <span id="BtnRefresh" style="font-size: 11px;
                                                        font-family: tornado tahoma;
                                                        width: 25px;
                                                        height:25px;
                                                        text-align: right;
                                                        align-content:center;
                                                        background-image: url('../../../../Content/refresh1.png');
                                                        display:inline-block;
                                                        margin-top:5px;
                                                        background-repeat: no-repeat;">
                                                    </span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <button type="button" class="btn" id="login" style="font-family:'B Zar'">ورود</button>
                                    <br />
                                    <span id="err"></span>
                                    <center>
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                                                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding:0">
                                                    <button type="button" onclick="document.location.href = '/NewVer/estelam'" class="btn1" style="font-family:'B Zar';width:100%;padding:0">استعلام</button>
                                                </div>
                                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding-right:3px;padding-left:3px;">
                                                    <button type="button" onclick="document.location.href = '/NewVer/Account_New/LogOn/1'" class="btn1" style="font-family:'B Zar';width:100%;padding:0">کاربران ستادی</button>
                                                </div>
                                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding:0">
                                                    <div>
                                                        <div class="dropdown">
                                                            <button type="button"  class="btn1 dropbtn" style="font-family:'B Zar';padding:0;width:100%">
                                                                کاربر مهمان
                                                            </button>
                                                            <div class="dropdown-content">
                                                                @*<a href="#" onclick="document.location.href = '/NewVer/Account_New/LogOn/2'">ورود سریع</a>*@
                                                                <a href="#" onclick="document.location.href = '/NewVer/Account_New/LogOn/3'">ورود به پنل کاربری</a>
                                                                <a href="#" onclick="document.location.href = '/NewVer/Account_New/RegisterGuest'">ثبت نام</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                                                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                                            </div>
                                        </div>
                                        @*<button type="button" onclick="document.location.href = '/NewVer/Account_New/LogOn/2'" class="btn1" style="font-family:'B Zar'">کاربر مهمان</button>
                                                                                    <button type="button" onclick="document.location.href = '/NewVer/Account_New/LogOn'" class="btn1" style="font-family:'B Zar'">کاربران ستادی</button>
                                            <button type="button" onclick="document.location.href = '/NewVer/estelam'" class="btn1" style="font-family:'B Zar'">استعلام</button>*@
                                    </center>
                                </form>
                            </div>
                            <div class="form-top1">
                                <center>
                                    <span style="text-align:center;color:white;">اگر رمز عبور خود را فراموش کرده اید<a id="forget2"  href="#"> اینجا </a> کلیک کنید.</span>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="landing-footer">
            <ul class="navbar navbar-nav">
                <li>
                    <span class="latin-font hidden-xs ng-scope" style="font-size: medium;" translate="copyrighten"><a href="http://www.rasa-system.com">Rasa System Alborz</a> - Copyright ©</span>
                    <span class="latin-font hidden-xs ng-binding" style="font-size: medium;" ng-bind="copyrightyear">2016</span>
                </li>
            </ul>
            <ul style="margin-right: -40px;" class="navbar navbar-nav pull-left hidden-xs">
                <li translate="helpDeskTel" style="font-size: medium;" class="ng-scope">تلفن پشتیبانی : 32347992-023</li>
            </ul>
        </div>
    </center>
    <!-- Javascript -->
    <script src="@Url.Content("~/Scripts/bootstarapLogin/assets/js/jquery-1.11.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstarapLogin/assets/bootstrap/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstarapLogin/assets/js/jquery.backstretch.min.js")"></script>
    <script type="text/javascript">
        function openWindowWithPost(url, data) {
            var form = document.createElement("form");
            form.target = "_blank";
            form.method = "POST";
            form.action = url;
            form.style.display = "none";

            for (var key in data) {
                var input = document.createElement("input");
                input.type = "hidden";
                input.name = key;
                input.value = data[key];
                form.appendChild(input);
            }
            document.body.appendChild(form);
            form.submit();
            document.body.removeChild(form);
        }
            jQuery(document).ready(function () {
                $('#forget2').click(function(e) {
                    openWindowWithPost("/NewVer/First/ForgetPass", {
                        UserType: 1
                    });
                });

            /*$("#forget2").attr("href", '/NewVer/First/ForgetPass?UserType=1');*/
            /*
            Fullscreen background
            */
            $.backstretch("@Url.Content("~/Scripts/bootstarapLogin/assets/img/backgrounds/1.jpg")");

            /*
            Form validation
            */
            $('.login-form input[type="text"], .login-form input[type="password"], .login-form textarea').on('focus', function () {
                $(this).removeClass('input-error');
            });



        });
        loadCaptcha();
        jQuery("#BtnRefresh").click(function () {
            var antiCachePart = (new Date()).getTime();
            var url = "/Account_New/generateCaptchaD";
            var newSrc = url + '?dc=' + antiCachePart;
            $("#m_imgCaptcha").attr('src', newSrc);
        });
        if (parseInt('@Session["captchahave"]') > 1) {
            $('#capt').show();
        }
        function loadCaptcha() {
            var url = "/Account_New/generateCaptchaD";
            $("#m_imgCaptcha").attr('src', url);
        }
        $('#capt').hide();
        $('#login').click(function () {

            $(this).removeClass('input-error');
            var UserNameDafater = $('#username').val();
            var PassDafater = $('#password').val();
            var txtCapthaloginD = $('#captcha').val();
            $.ajax({
                url: '/NewVer/Account_New/LogOnDafater',
                method: 'post',
                data: {
                    UserName: UserNameDafater,
                    Password: PassDafater,
                    Captcha: txtCapthaloginD
                },
                success: function (data) {
                    if (data.Msg != "") {
                        $("#err").html(data.Msg);
                        if (data.HaveCaptcha2 > 1) {
                            $("#capt").show();
                        }
                    }
                    else {
                        if (data.state == "0")
                            window.location.href = "/NewVer/First/index";
                        else {
                            $("#err").html("انتخاب شهرداری ضروری می باشد");
                        }

                    }
                }
            });
        });

    </script>
    <!--[if lt IE 10]>
        <script src="assets/js/placeholder.js"></script>
    <![endif]-->
</body>
</html>